body
{
    margin:0;
    padding:15px;
    background-color:#EEF1F5;
}
header{padding-bottom:10px;}
header *{display:inline-block;}
header img {max-width:300px}
header h1
{
    margin:0;
    font-size:5rem;
    padding-left:10px;
}

nav
{
    float:left;
    width:20vw;
    height:70vh;
    margin:1rem;
    overflow-y:scroll;
    overflow-x:hidden;
    color:#234B9A;
}
nav h2{color:#000000;}
nav a{color:#234B9A;}
nav li{padding:5px;cursor:pointer;}
nav a:hover,nav li:hover,nav li:hover a{color:#0096AB;background-color:#FFFFFF;}
iframe
{
    width:840px;
    height:70vh;
    border: 0;
    overflow-y:scroll;
    overflow-x:hidden;
}

@media (max-device-width: 1200px)
{
    header *
    {
        display:block;
        margin:0 auto;
        text-align:center;
    }
    nav
    {
        margin:0;
        margin-bottom:1rem;
        width:100%;
    }
    iframe{width:90vw;}
}
@media (max-device-width: 539px)
{
    header h1
    {
        margin:0;
        font-size:2rem;
        padding-left:0;
    }
}