<!doctype html>
<html ng-app="main">
<head>
    <meta charset="UTF-8" />
    <title>AngularJS 筆記</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="index.css" />
    <script src="angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <noscript>
        本網站的主題 AngularJS 需要使用 JavaScript。
        請選用支援 JavaScript 的瀏覽器、或開啟 JavaScript。
        如果已開啟 JavaScript，請重新整理。
    </noscript>
    <div ng-controller="closure">
        <article id="closure" ng-show="notify">
            <section>
                <h2>本專案已停止維護！</h2>
                <small hidden>いまはいまの楽しさで はしゃぎたいなみんなと さようならへさよなら なんで無茶苦茶を 言いたくなった…</small>
                <p>Angular 1 是我初次接觸的 JavaScript 框架。它標榜的 MVC 架構啟發我、並讓我提升到另一個境界。</p>
                <p>但是，大家終究會拋棄 Angular 1。而 Google 力推的 <a href="https://angular.io" target="_blank">Angular 2</a> 也和 Angular 1 相差甚大。尤其，Angular 2 使用需要編譯的 TypeScript。</p>
                <p>這使我考慮放棄 Angular 2、並轉向其他框架。</p>
                <p>不久，我發現語法和 Angular 1 類似的 <a href="https://vuejs.org" target="_blank">Vue</a>，但它更為靈活而簡潔。如果想考慮其他框架的話，Vue 會是個好選擇。</p>
                <p>總之，因為 Angular 1 已經要走向歷史，所以這個專案以後不會再維護了。</p>
                <p>有緣再會。</p>
                <button ng-click="close_notify()" class="btn">
                    繼續瀏覽
                </button>
                <p></p>
            </section>
        </article>
    </div>
    <header id="intro" ng-controller="intro">
        <img
        ng-init = "imgsrc=logo.wiki+logo.now"
        ng-mouseover = "imgsrc=logo.wiki+logo.then"
        ng-mouseout  = "imgsrc=logo.wiki+logo.now"
        ng-src = "{{imgsrc}}"
        src="https://upload.wikimedia.org/wikipedia/commons/c/ca/AngularJS_logo.svg"
        alt="AngularJS logo"/>
        
        <h1
        ng-mouseover = "ang_title=title.zh_tw"
        ngFocus = "ang_title=title.zh_tw"
        ng-mouseleave= "ang_title=title.en_gb"
        ng-bind="ang_title">AngularJS</h1>
    </header>
    <main ng-controller="webpage">
        <nav>
            <h2 ng-bind="title"> Practice </h2>
            <ul>
                <li ng-repeat="link in pract" ng-click="webpage_load( $index )"
                title="{{ link.name }}">
                    <a href="#" ng-bind="link.name"> 本網站的主題 AngularJS 需要使用 JavaScript。 </a>
                </li>
            </ul>
            <h2>Reference</h2>
            <ul>
                <li><a href="http://ithelp.ithome.com.tw/articles/10132196">iT 邦幫忙</a></li>
                <li><a href="http://abgne.tw/tag/angularjs/page/7">男丁格爾</a></li>
                <li><a href="http://blog.darkthread.net/post-2014-06-11-angularjs-notes-1.aspx">黑暗執行緒</a></li>
                <li><a href="https://docs.angularjs.org">angularjs.org</a></li>
                <li><a href="https://www.gitbook.com/book/hairui219/learning_angular/details">hairui219</a></li>
                <li><a href="https://github.com/xufei/blog">xufei</a></li>
                <li><a href="https://www.zhihu.com/question/36040694">如何衡量一个人的 AngularJS 水平？</a></li>
                <li><a href="https://www.zhihu.com/question/29051964">Angular js 初学者该看什么书啊？？</a></li>
            </ul>
        </nav>
        <iframe ng-src="{{webpage_pos.url}}">
            <!--
                我本來想用 ng-include，但是發現 CSS 會混在一起，很難處理。
                所以最後選擇用 iframe 比較省事。
            -->
            <p>Your browser does not support iframes.</p>
        </iframe>
    </main>
    <footer>Design and Build: iigmir | Host : <a href="https://github.com">github.com</a> </footer>
</body>
</html>
