<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset=utf-8 />
    <title>ng-click</title>
    <link rel="stylesheet" href="core.css" />
    <script src="angular.min.js"></script>
    <script>
    angular.module("main", []).controller("emeny_controller",
    function($scope)
    {
        $scope.action = function ()
        {
            $scope.price = 100;
        };
        
        $scope.hidari = function () { $scope.command = "←"; };
        $scope.migi   = function () { $scope.command = "→"; };
        $scope.aeim   = function () { $scope.command = "Ａ"; };
        $scope.beei   = function () { $scope.command = "Ｂ"; };
    });
    </script>
</head>
<body>
    <div ng-controller="emeny_controller">
        <div class="demos">
            <input type="button" value="選擇100元" ng-click="action()">
            <p>目前 {{ price | number}} 元</p>
        </div>
        <div class="pract">
            <input type="button" value="ひだり" ng-click="hidari()">
            <input type="button" value="みぎ"   ng-click="migi()">
            <input type="button" value="Ａ"     ng-click="aeim()">
            <input type="button" value="Ｂ"     ng-click="beei()">
            <p>俺のターン！{{ command }}！</p>
        </div>
    </div>
</body>
</html>