<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset=utf-8 />
    <title>ng-click</title>
    <link rel="stylesheet" href="../core.css" />
    <script src="../angular.min.js"></script>
    <script>
    angular.module("main", []).controller("emeny_controller",
    function($scope)
    {
        $scope.action = function ()
        {
            $scope.price = 100;
        };
        
        $scope.command;
        $scope.direct = function (dr_input)
        {
            $scope.command = dr_input;
        };
    });
    </script>
</head>
<body ng-controller="emeny_controller">
    <div class="demos">
        <input type="button" value="選擇100元" ng-click="action()">
        <p>目前 {{ price | number}} 元</p>
    </div>
    <div class="pract">
        <input type="button" value="ひだり" ng-click="direct('←')">
        <input type="button" value="みぎ"   ng-click="direct('→')">
        <input type="button" value="Ａ"     ng-click="direct('Ａ')">
        <input type="button" value="Ｂ"     ng-click="direct('Ｂ')">
        <p ng-click="direct('')">俺のターン！{{ command }}！</p>
    </div>
    <div class="notes">
        <p><code>ng-click</code>：每當按下含有該屬性的元件時，該元件就會執行指定的函式。</p>
    </div>
</body>
</html>